<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="nav navbar-nav">
                <%
                    for(let i=0;i<nav.length;i++)
                    {
                        %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
                        </li>
                        <%
                    }
                %>
            </ul>
        </nav>
    </header>

    <div class="container">
            <h2 style="text-align: center;">Welcome to KTU</h2>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form method="POST" action="/admin/valuation/add">
                    <div class="row">

                        <label class="form-text">Student</label>
                        <input class="form-control" type="text" name="student">
                        <br>
                        <label class="form-text">First Person</label>
                        <select  class="form-control" name="First" id="First">
                            <%
                                for(teacher of data)
                                {
                                    %>
                                    <option><%=teacher.name%></option>
                                    <%
                                }
                            %>      
                        </select>
                        <br>
                    </div>
                    <div class="row">
                        <label  class="form-text">Second Person</label>
                        <select  class="form-control" name="Second" id="Second">
                            <%
                                for(teacher of data)
                                {
                                    
                                    %>
                                    <option><%=teacher.name%></option>
                                    <%
                                }
                            %>      
                        </select>
                        <br>
                    </div>
                    <div class="row">
                        <label class="form-text">Third Person</label>
                        <select  class="form-control" name="Third" id="Third">
                            <%
                                for(teacher of data)
                                {
                                    
                                    %>
                                    <option><%=teacher.name%></option>
                                    <%
                                }
                            %>      
                        </select>
                        <br>
                        <br>
                        <button class="btn btn-success form-control" type="submit">Submit</button>
                    </div>

                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>